:root{
    --dark-color:#19283f;
    --green-color:#33d1cc;
    --red-colr:#ff3150;
    --yellow-color:#ffc400;
    --section-color:#eff7fa;
}

body{
    font-family: 'Roboto', sans-serif;
}
.main-title::after{
    content: "";
    width: 120px;
    height: 2px;
    background-color: var(--green-color);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
/* Start Navbar */
.navbar{
    background-color: var(--dark-color);
}
.navbar .navbar-nav .nav-link{
    color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover{
color: var(--green-color);
}
.navbar .navbar-toggler{
color: white;
font-size: 25px;
border-color: white;
}
.navbar .navbar-toggler:focus,
.navbar .navbar-toggler.active{
    box-shadow: none;
    border-color: var(--green-color);
}
.navbar .search{
    color: var(--green-color);
    border-left: var(--green-color) solid 1px;
}
/* End Navbar */
/* Start Landing */
.landing{
    background-color: var(--dark-color);
    height: calc(100vh - 72px);
}

/* End Landing */
/* Start features */
.features .icon-holder{
    height: 200px;
}
.features .icon-holder svg{
    left: 50%;
    transform: translateX(-50%);
}
.features .icon-holder .number{
    font-size: 12rem;
    color: var(--section-color);
}
.features .icon-holder .icon{
    color: var(--green-color);
    top:131px
}
.features .feat h4{
    color: var(--yellow-color);
}
/* End features */